html {
    height: auto;
    --main-layout-header-height: 64px;
    background-color: transparent !important;
}

body {
    /* Avoid horizontal scrollbars, mainly on IE11 */
    overflow-x: hidden;
    background-color: var(--lumo-contrast-5pct);
    height: 100vh;
    margin: 0;
}

vaadin-vertical-layout, vaadin-grid {
    flex: auto;
}


vaadin-dialog-overlay h3 {
    margin-top: 0;
}

vaadin-dialog-overlay vaadin-form-layout {
    max-width: 30em;
}

.buttons {
    padding: var(--lumo-space-s) var(--lumo-space-l);
    margin: calc(var(--lumo-space-l) * -1);
    margin-top: var(--lumo-space-l);
    border-top: 1px solid var(--lumo-contrast-10pct);
}

.buttons > :last-child {
    margin-left: auto;
}

.buttons > :nth-last-child(2) {
    margin-right: var(--lumo-space-m);
}

.confirm-buttons {
    justify-content: space-between;
    padding: var(--lumo-space-xs) var(--lumo-space-m);
    margin-top: var(--lumo-space-m);
}

.has-padding {
    padding: 0 var(--lumo-space-l);
    margin: 0 calc(var(--lumo-space-l) * -1);
}

.confirm-text {
    max-width: 25em;
    line-height: var(--lumo-line-height-s);
}

.confirm-text > * {
    margin-bottom: 0.6em;
}

.confirm-text div:not(:first-child) {
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
}
